%tr
  %td= h invoice.client.name
  %td
    - if !invoice.due_date.nil?
      = h invoice.due_date.strftime('%d/%m/%Y')
    -else
      ='NA'
  %td= h number_to_currency invoice.total_cost_inc_tax_delivery, :unit => '£', :separator => ".", :delimiter => ","