-if @invoices.nil?
  %h3 No Invoices Due
-else
  %br
  #due.col-md-5
    -@invoices_states.each do |state, invoices|
      %div{:id=> state.to_s}
        %div
          %div
            %h3
              Invoices Due 
              (
              =h invoices.count.to_s
              )
          %div{:id=> state.to_s.tr(" ", "-")}
            %table#invoices.table
              %thead
                %tr
                  %th Client Name
                  %th Due Date
                  %th Total Cost
              %tbody
                -invoices.each do |invoice|
                  = render :partial => "invoice", :object => invoice
