-if @invoices.nil?
  %h3 No Invoices
-else
  -@invoices_states.each do |state, invoices|
    %h3{:class=> "state expIco"}= state + " (" + invoices.count.to_s + ")"
    .panel
      %div{:id=> state.to_s.tr(" ", "-")}
        %table{:id => "invoices"}
          %tr
            %th Created
            %th Client Name
            %th Title
            %th Invoice Date
            %th Due Date
            %th Total Cost
          -invoices.each do |invoice|
            = render :partial => "invoice", :object => invoice
