- title "Dashboard"
#dashboard-summary
  -if @invoices.nil?
    %h3 No Invoices
  -else
    -@invoices_states.each do |state, invoices|
      %h3{:class=> "state expIco"}= state + " (" + invoices.count.to_s + ")"
      .panel
        %div{:id=> state.to_s.tr(" ", "-")}
          %table{:id => "invoices"}
            %tr
              %th Created
              %th Client Name
              %th Title
              %th Invoice Date
              %th Due Date
              %th Total Cost
            -invoices.each do |invoice|
              = render :partial => "invoice", :object => invoice
    
    -if not @invoices_for_month.nil?
      #dashboard-calendar
        %h3{:class=> "state expIco"}= @date.year.to_s + " " + Date::MONTHNAMES[@date.month] + " (" + @invoices_for_month.size.to_s + ")"
        .panel
          %div{:id=> "invoice_for_month"}
            %table{:id => "invoices"}
              %tr
                %th Created
                %th Client Name
                %th Title
                %th Invoice Date
                %th Due Date
                %th Total Cost
              -@invoices_for_month.each do |invoice|
                = render :partial => "invoice", :object => invoice
            =# render :partial => "calendar"
        
#dashboard-totals
  %h3 Breakdown
  %ul{:id => "dashboard-list"}
    %li 
      %strong Total Invoiced:  
      =number_to_currency @total_invoice, :unit => '£', :separator => ".", :delimiter => ","
    %li
      %strong Total Payments Received
    %li
      %strong Total Outstanding

#dashboard-recent
  %h3 Recent Activity


%h3="Invoices by day for " + Date::MONTHNAMES[@date.month] + " (" + @invoices_for_month.size.to_s + ")"
%table{:class => "dashboard-table"}
  %tr 
  -@invoices_month_breakdown.each do |i|
    %th
      %strong=i.month
    %td 
      =i.val
    
%h3="Invoices by month for " + @date.year.to_s + " (" + @invoices_for_year.size.to_s + ")"      
-@invoices_year_breakdown.each do |i|
  %th
    %strong=i.month
  %td 
    =i.val

      

