- title "Dashboard"
=content_for :head do
  :javascript
    $("#dashboard-nav").addClass("active");
   

=content_for :right do 
  %div{:id => "dashboard-list", :class=> "btn-group btn-group-vertical"}
    
    -if can? :create, Invoice
      = link_to "New Invoice", new_invoice_path, :class=> "btn btn-large btn-primary"
    -if can? :create, Client
      = link_to "New Client", new_client_path, :class=> "btn btn-large"
.row
#ytd_summary.col-md-10.well.well-sm
  .panel-heading
    %h4 YTD
  .panel-body      
    -@summaries_ytd.each do |currency, s|
      .currency.col-md-5
        %strong=currency
        %ul.well-small.list-unstyled
          -s.each do |t|
            %li
              Total Due:  
              =t.total_due
            %li.text-muted
              =pluralize(t.count_due, 'invoice')
            %li
              Total Amount:  
              =t.total_amount_open
            %li.text-muted
              =pluralize(t.count_invoices_open, 'invoice')
            %li
              Total Closed:  
              =t.total_amount_closed
            %li.text-muted
              =pluralize(t.count_invoices_closed, 'invoice')
.col-md-4           
  #chart_div2{:style=>"width: 500px; height: 200px;"}      
          
.row
#dropdown_1.col-md-2
  #dropdown-graph-type.dropdown
    %a{:class => "dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#"}
      =raw("Report On" +("<b class= 'caret'></b>"))
    %ul{:class => "dropdown-menu", :role=>"menu" ,"aria-labelledby" => "dLabel"}
      %li
        %a{:class => 'graph_link', :href => '#', 'data-graph' => 'invoices'} Invoice Amount
      %li
        %a{:class => 'graph_link', :href => '#', 'data-graph' => 'payments'} Payment Amount
#dropwdown_2.col-md-2.pull-right        
  #dropdown-graph-date.dropdown
    %a{:class => "dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#"}
      =raw("Date Range" +("<b class= 'caret'></b>"))
    %ul{:class => "dropdown-menu", :role=>"menu" ,"aria-labelledby" => "dLabel"}
      %li
        %a{:class => 'graph_time', :href => '#', 'data-graph' => '-12'} Last 12 Months
      %li
        %a{:class => 'graph_time', :href => '#', 'data-graph' => '-6'} Last 6 Months
      %li
        %a{:class => 'graph_time', :href => '#', 'data-graph' => '-3'} Last 3 Months
  
#chart_div.col-md-7{:style=>"width: 800px; height: 400px;"}
=render :partial => 'dashboard/graphs/total_closed_by_time' , :locals => { :summaries => @summaries_by_yr_mo, :clients => @clients, :start_date => @start_date , :type => @graph_type }
%br
.row
%h4 Payments Due
.well.well-large
  -@outstanding.each do | currency, s |
    %strong=currency
    %table.payments.striped 
      -s.each do |t|
        %tr
          %td
            = link_to t.company_name, client_path(t.client_id)
            (
            =pluralize(t.count_due, 'invoice')
            ) 
            
            %strong Total Due:
            =t.total_due
 
%br
#dashboard-recent
  %h4 Recent Activity   

