- title "Dashboard"
=content_for :head do
  :javascript
    $("#dashboard-nav").addClass("active");
   

=content_for :right do 
  %div{:id => "dashboard-list", :class=> "btn-group btn-group-vertical"}
    
    -if can? :create, Invoice
      = link_to "New Invoice", new_invoice_path, :class=> "btn btn-large btn-primary"
    -if can? :create, Client
      = link_to "New Client", new_client_path, :class=> "btn btn-large"
%h4 YTD      
.row
  -@summaries_ytd.each do |currency, s|
    .currency.span3
      %strong=currency
      %ul.well.well-small.unstyled
        -s.each do |t|
          %li
            Total Due:  
            =t.total_due
          %li.muted
            =pluralize(t.count_due, 'invoice')
          %li
            Total Amount:  
            =t.total_amount_open
          %li.muted
            =pluralize(t.count_invoices_open, 'invoice')
          %li
            Total Closed:  
            =t.total_amount_closed
          %li.muted
            =pluralize(t.count_invoices_closed, 'invoice')
.row
#dropdown-graph-type.dropdown
  %a{:class => "dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#"}
    =raw("Report On" +("<b class= 'caret'></b>"))
  %ul{:class => "dropdown-menu", :role=>"menu" ,"aria-labelledby" => "dLabel"}
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => 'invoices'} Invoice Amount
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => 'payments'} Payment Amount
#dropdown-graph-date.dropdown
  %a{:class => "dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#"}
    =raw("Date Range" +("<b class= 'caret'></b>"))
  %ul{:class => "dropdown-menu", :role=>"menu" ,"aria-labelledby" => "dLabel"}
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '2'} 2 Years
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '1F'} Fiscal Year
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '1'} Last Year
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '0.5'} 6 Months
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '0.25'} 3 Months
    %li
      %a{:class => 'graph_link', :href => '#', 'data-graph' => '0.1'} Current Month
        
#graph
  =render :partial => 'dashboard/graphs/total_closed_by_time' , :locals => { :summaries => @summaries_by_yr_mo, :start_date => @start_date , :type => @graph_type }
%br
.row
%h4 Payments Due
.well.well-large
  -@outstanding.each do | currency, s |
    %strong=currency
    %table.payments.striped 
      -s.each do |t|
        %tr
          %td
            = link_to t.company_name, client_path(t.client_id)
            (
            =pluralize(t.count_due, 'invoice')
            ) 
            
            %strong Total Due:
            =t.total_due
 
%br
#dashboard-recent
  %h4 Recent Activity   

