-if user_signed_in?
  %li= link_to(raw("Logout " +("<i class= 'glyphicon glyphicon-log-out'></i>")), destroy_user_session_path)
-else
  %li= link_to(raw("Login " +("<i class= 'glyphicon glyphicon-log-in'></i>")), new_user_session_path)

