-if user_signed_in?
  %li
    = link_to 'My Account', edit_user_path(@current_user.id)
    =  #link_to('Edit Account', { :controller => "users", :action => "edit", :id => @current_user.id })
-else
  %li
    = link_to('Signup', new_company_url(:host => request.domain))
