-if user_signed_in?
  %li
    =  link_to('Edit Account', { :controller => "users", :action => "edit", :id => @current_user })
-else
  %li
    = link_to('Signup', new_company_url(:subdomain => false))
