.comment-item
  background-color: #ececec
  padding: 10px
  font-size: 1.1em

.comment-item-header
  font-weight: bold
  font-size: 1.3em

.comment-item-footer
  background: url(/images/arrow.gif) 20px 0 no-repeat /*20px 0 equals horizontal and vertical position of arrow. Adjust as desired (ie: 20px -5px).*/
  padding-left: 58px
  padding-top: 1px
  margin-bottom: 2em
  font-size: 90%
  color: #4A4A4A
  font-size: 1.1em

