.fields
  +prepend(1)
  +column(15)
  .item_type
    +column(3)
  .item_description
    +column(4)
  .item_qty
    +column(2)
  .item_cost
    +column(2)
  .item_total
    +column(2)
  .item_tax
    +column(1)
  .item_remove
    +column(1, true)
    background: url('/images/icons/delete.png') norepeat
 
.simple_form
  div.input
    margin-bottom: 2px

  label
    float: left
    width: 80px
    text-align: left
    margin: 2px 10px

  .error
    clear:   left
    color:   black
    display: block
    margin-left: 120px
    font-size:    12px

  .hint
    clear: left
    margin-left: 120px
    font-size:    12px
    color: #555
    display: block
    font-style: italic

div.boolean, .simple_form input[type='submit']
  margin-left: 120px

div.boolean label, label.collection_radio
  float: none
  margin: 0

label.collection_radio
  margin-right: 10px
  vertical-align: -2px
  margin-left:   2px

.field_with_errors
  background-color: #FBC2C4

input.radio
  margin-right: 5px
  vertical-align: -3px

input.check_boxes
  margin-left: 3px
  vertical-align: -3px

label.collection_check_boxes
  float: none
  margin: 0
  vertical-align: -2px
  margin-left:   2px


#form-title  
  color: black
  text-align: center
  padding-top: 5px
  font-size: 1.2em

.inline-errors
  color: red
.errorExplanation
  color: red

//form.simple_form
  // +float-form-left
  //li
    //padding-top: 4px
  //label
    //font-weight: bold


#form-main, #form-bottom
  +column(16)
  :border 1px solid #999
  +border-radius(8px, 8px)
  padding: 5px
  background-color: whitesmoke
  
  textarea
    height: 50px
    width: 390px
  

//#form-bottom

#form-right, #form-left
  label
    clear: both
    display: block
    float: none
    //width: auto

  :border 1px solid #999
  +border-radius(8px, 8px)
  padding: 5px
  background-color: whitesmoke


  //+prepend(1)
  //input, textarea, select
    // :font-family inherit
    // :font-size 12px
  //textarea, input
    //:border 1px solid #999
    //:padding 1px 1px

#form-right
  input
    width: 50px

  
  //:width 10px  

#filter_link
  :font-size 12px
  +hover-link

#interactive
  :display none

#load
  :display none

#search_form
  +column(24)

.cancel_button    
  :float right
