#filter_link
  %a{:href=>"javascript:void(0)", :class => 'btn','data-toggle'=>"button"}
    Filter
    %i{:class=>"icon-search"}
  %br
#filter_box
  = simple_form_for @search, :js_lib => :jquery, :html => {:remote => true} do |f|
    =field_set_tag do#, :id => "ajax_form" do
      = f.input :title_contains, :label => "Title", :required => false
      =# f.input :invoice_date_gte, :as => :date, :label => "Create From", :required => false
      =# f.input :invoice_date_lte, :as => :date, :label => "Create To", :required => false
      =# f.input :total_cost_inc_tax_delivery_gte,:as => :numeric, :label =>  "Min Cost",:input_html => { :size => 10 } , :required => false
      =# f.input :total_cost_inc_tax_delivery_lte,:as => :numeric, :label => "Max Cost",:input_html => { :size => 10 } , :required => false
      = f.input :client_id_equals, :as => :select, :collection => @clients, :name => :company_name , :include_blank => true, :label=>"Client", :required => false
      = f.input :state_equals_any, :as => :check_boxes , :collection => ["draft", "open", "paid"], :include_blank => true, :label=>"State", :item_wrapper_class => 'inline', :required => false
      =# f.input :due_date_gte, :as => :date, :label => "Due Date From", :required => false
      %button{:class=> 'btn btn-small btn-primary', :type=>"submit"} Search
      
