=f.input :item_type, :input_html => {:size => 5} 
=f.input :item_description,:input_html => { :size => 5}
=f.input :cost,:input_html => { :size => 3}
=f.input :qty, :input_html => {:size => 3}
=f.input :taxable
=f.link_to_remove "Remove"

