.controls.controls-row
=f.input_field :item_description, :class => 'item_description span4'
=f.input_field :qty, :class => 'item_qty span1',  :size => 3 
=f.input_field :cost_cents,   :class => 'item_cost span1', :size => 3 
=f.input_field :item_type, :class => 'item_type span1' 
=f.input_field :taxable, :as => 'boolean', :class=> 'span1', :boolean_style => :inline, :label => false
=f.link_to_remove '<i class="icon-trash"></i> '.html_safe, :class => "btn btn-mini"
