.controls.controls-row
=f.input_field :item_description, :class => 'item_description col-md-4'
=f.input_field :qty, :class => 'item_qty col-md-1',  :size => 3 
=f.input_field :cost_cents,   :class => 'item_cost col-md-1', :size => 3 
=f.input_field :item_type, :class => 'item_type col-md-1' 
=f.input_field :taxable, :as => 'boolean', :class=> 'col-md-1', :boolean_style => :inline, :label => false
=f.link_to_remove '<i class="icon-trash"></i> '.html_safe, :class => "btn btn-mini"
