- title "Edit Invoice"
=content_for :left do
  = link_to "Go Back to Invoice", @invoice
-if @invoice.status == "paid"
  %h2 Invoice has been paid, you can copy this invoice or reset to open
-else
  #invoice.row
    =simple_nested_form_for @invoice, :html => {:novalidate => true} do |f|
      =render "shared/invoices/form_main", :f => f, :inv => @invoice   
