- title "Invoices"

=form_tag delete_multiple_invoices_path, :method => :delete, :remote => true do
 =render :partial=> "invoices" 
 = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?'


=content_for :right do
 -if can? :create, Invoice
  = link_to "New Invoice", new_invoice_path

