- title "Invoices"

#dashboard-centre-left
 =render :partial => "filter"
  
=content_for :right do
 -if can? :create, Invoice
  = link_to "New Invoice", new_invoice_path
  
=render :partial=> "invoices" 