-title "New Invoice"
#invoice.row
  =simple_nested_form_for @invoice, :html => {:novalidate => true} do |f|
    =render "shared/invoices/form_main", :f => f, :inv => @invoice  

%p= link_to "Back to List", invoices_path

