$("#dashboard-centre").empty();
$("#dashboard-centre").prepend('<div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><div id="flash_notice"><%= escape_javascript(flash.discard(:notice)) %></div></div>');
$("#dashboard-centre").append("<%= escape_javascript(render("invoices/show_elements/show")) %>");
$(".alert").fadeOut(3000);

