%h1
 Welcome to
 = @client.company_name
#message
 %p
  -if !@schedule.message.nil?
   =raw RedCloth.new(Liquid::Template.parse(@schedule.message.gsub("{{","{{d.")).render('d' => @delivery)).to_html
#details
 = render :partial => "invoices/show_elements/show_core", :object => :invoice