#graph-title
#chart_container
  #y_axis
  #chart
#legend
#slider

=content_for :head do  
  :javascript
    
     $(function () {
     
          var chart;
          var options = { 
            chart: {
              renderTo: 'container',
              defaultSeriesType: 'spline'
            },
            title: {
                    text: 'Invoices Closed',
                    x: -20 //center
                },
        
                xAxis: {
                    categories: #{raw summary_x_axis(start_date)}
                },
                yAxis: {
                    title: {
                        text: 'Amount'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
           
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: #{raw summary_y_axis(summaries, start_date, type)}

          }
          
          $('.graph_link').click(function(){
            var graph_type = $(this).attr('data-graph');
            var title;
                        
            if (graph_type === 'invoice') {
              options.series = #{raw summary_y_axis(summaries, start_date, 'invoice')};
            }
            else {
              options.series = #{raw summary_y_axis(summaries, start_date, 'payment')};
            }
            
            chart = new Highcharts.Chart(options);  
            
            $("#dropdown-graph").removeClass("open");
  
            return false;            
          });
          
          chart = new Highcharts.Chart(options);    
          
          
      });