#graph-title
  %h2=gtitle
#chart_container
  #y_axis
  #chart
#legend

             
:javascript
  var graph = new Rickshaw.Graph( {
    element: document.querySelector('#chart'),
    renderer: 'line',
    height: 200,
    width: 600,
    series: #{raw datag.to_json}
   });
   graph.render();

                           
    var detail = new Rickshaw.Graph.HoverDetail({
                graph: graph
    });
   
    var x_axis = new Rickshaw.Graph.Axis.Time({
      graph: graph,
    });
    x_axis.graph.update();
   
    var y_axis = new Rickshaw.Graph.Axis.Y({
      graph: graph,
      orientation: 'left',
      tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
      element: document.getElementById('y_axis')
     } );
     y_axis.graph.update();
    
     var legend = new Rickshaw.Graph.Legend({
      graph: graph,
      element: document.querySelector('#legend')
     });
                     
    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
      graph: graph,
      legend: legend
    } );