=content_for :head do  
  = javascript_include_tag "https://www.google.com/jsapi", "application"


  :javascript
     var data_invoices = #{raw summary_y_axis2(summaries, start_date, 'invoices')};
     var data_payments = #{raw summary_y_axis2(summaries, start_date, 'payments')};
     var data_clients = #{raw summary_y_axis3(clients, start_date, 'invoices')};
     
     var data_6 = []
     data_6.push(data_invoices[0])
     
    google.load("visualization", "1", {packages:["corechart"]});

    $(function() {
      var graph_type = 'invoices';
      var last_n = 12;
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      //var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

      var data = google.visualization.arrayToDataTable(graph_type === 'invoices' ? data_invoices : data_payments);
            
      google.setOnLoadCallback(drawItems);
      
      function drawItems() {               
          var title = graph_type === 'invoices' ? "Total Invoices Closed" : "Total Payments"
          var options = {
            title: title,
            hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            animation:{
             duration: 1000,
             easing: 'out'
            }
          };
  
          chart.draw(data, options);
          //chart2.draw(data_clients, options);
       }
        
       drawChart();
       // drawItems();
       
       function drawChart() {
        var data2 = google.visualization.arrayToDataTable(data_clients);

        var options = {
          title: 'Top 10 Clients'
        };

        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options);
      }

       
        
         
        $('.dropdown-toggle').dropdown();
        
        $('.graph_link').click(function(){
          graph_type = $(this).attr('data-graph');
          data = google.visualization.arrayToDataTable(graph_type === 'invoices' ? data_invoices : data_payments);
          drawItems(); 
          $("#dropdown-graph-type").removeClass("open");
           
          return false;            
        });
            
        $('.graph_time').click(function(){
          last_n = $(this).attr('data-graph');
          
          data = google.visualization.arrayToDataTable(data_6.concat(graph_type === 'invoices' ? data_invoices.slice(last_n) : data_payments.slice(last_n)));;
           
            
          
          drawItems();
          $("#dropdown-graph-date").removeClass("open");
           
          return false;            
            
      });
    });