#graph-title
#chart_div{:style=>"width: 900px; height: 500px;"}

=content_for :head do  
  = javascript_include_tag "https://www.google.com/jsapi", "application"


  :javascript
     var data_invoices = #{raw summary_y_axis2(summaries, start_date, 'invoices')};
     var data_payments = #{raw summary_y_axis2(summaries, start_date, 'payments')};

     
    google.load("visualization", "1", {packages:["corechart"]});

    $(function() {
      var graph_type = 'invoices';
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      var data = google.visualization.arrayToDataTable(graph_type === 'invoices' ? data_invoices : data_payments);
      var data_segment = data;
      google.setOnLoadCallback(drawItems);
      
      function drawItems() {               
          var title = graph_type === 'invoices' ? "Total Invoices Closed" : "Total Payments"
          var options = {
            title: title,
            hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
            animation:{
             duration: 1000,
             easing: 'out'
            }
          };
  
          chart.draw(data, options);
       }
        
       
       // drawItems();
        
         
        $('.dropdown-toggle').dropdown();
        
        $('.graph_link').click(function(){
          graph_type = $(this).attr('data-graph');
          data = google.visualization.arrayToDataTable(graph_type === 'invoices' ? data_invoices : data_payments);

          drawItems(); 
          $("#dropdown-graph-type").removeClass("open");
           
          return false;            
        });
            
        $('.graph_time').click(function(){
          graph_type = $(this).attr('data-graph');
          //drawItems(graph_type);
          alert(graph_type); 
          $("#dropdown-graph-date").removeClass("open");
           
          return false;            
            
      });
    });