- title "Users"
%h2 System Logins
%table
  %tr
    %th Email
    %th Sign in count
    %th Last sign in at
  = render :partial => "user", :collection => @users
%br
%h2 Client Logins
- for client in @clients
  -if client.users.count >0
    %h3=client.name
    =client.display_address   
    %table
      %tr
        %th Email
        %th Sign in count
        %th Last sign in at
      = render :partial => "user", :collection => client.users


-if can? :create, User
  =link_to 'Setup User', new_user_path, html_options = {:class => 'red button'}
-if can? :invite, User
  =link_to 'Invite User', new_invite_users_path, html_options = {:class => 'button'}
