- title "Users"
%h3 System Logins
%table{:class=>'table table-striped'}
  %thead
    %tr
      %th Email
      %th Sign in count
      %th Last sign in at
  %tbody
    = render :partial => "user", :collection => @users
%br
%h3 Client Logins
-if @clients.count > 0 
  - for client in @clients
    -if client.users.count >0
      %h4=client.name
      =client.display_address   
      %table{:class=>'table table-striped'}      
        = render :partial => "user", :collection => client.users
-else
  No Client Users
  
=content_for :right do
  -if can? :create, User
    =link_to 'Setup User', new_user_path#, html_options = {:class => 'red button'}
  %br
  -if can? :invite, User
    =link_to 'Invite User', new_user_invitation_path#, html_options = {:class => 'button'}
  %br
  %br
  -if can? :update, Company
    =link_to "Back to Settings", edit_company_path
 