-simple_form_for  @user ,:url => invite_users_path, :html => { :method => :post, :multipart => true  } do |f|
  =field_set_tag 'Client Details' do
    = f.input :name
    = f.input :email
    -if can? :read, Role
      =f.collection_check_boxes :role_ids, Role.all, :id, :name
    %button{:type=>"submit",:class=>"red"} Save
