- title "Reocurring Invoices"
-if @schedules.count > 0

  =form_tag delete_multiple_schedules_path, :method => :delete, :remote => true do
    -if can? :delete, Invoice
      = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-small btn-danger'
  
    =render 'schedules'
  
  
-else
  -if can? :create, ScheduleInvoice
    No Reocurring Invoices, create a new one
    = link_to " now", new_schedule_path     

=content_for :right do
  -if can? :create, ScheduleInvoice
    = link_to '<i class="icon-plus icon-white"></i> New Reocurring Invoice'.html_safe, new_schedule_path, :class => 'btn btn-primary'


