%table{:id => "table-clients", :class => "table-main"}
  %thead
    %tr
      %th=sort_link @search, :company_name, "Client Name", {}, :remote => "true"
      %th Outstanding Invoices
      %th
  %tbody
    =render :partial => "client", :collection => @clients
%p
  = will_paginate @clients