%table#table-clients.table.table-hover
  %thead
    %tr
      %th
      %th=sort_link @search, :company_name, "Client Name", {}, :remote => "true"
      %th Outstanding Invoices
      %th
  %tbody
    =render :partial => "client", :collection => @clients
= will_paginate @clients, :remote => true