

%tr{:id => "client-row-" + client.id.to_s, :class=>"table-row " + cycle("odd", "even")}
  %td= check_box_tag "client_ids[]", client.id
  %td
    %dd{:class => "table-item"}
      %h3= h link_to_if can?(:read, client), client.company_name, client
      =h client.display_address
      %br
      -if client.display_phone or client.display_fax
        =h client.display_phone
        =h client.display_fax
        %br
      -if client.email.length > 0  
        %strong Email: 
        = h mail_to client.email
 

  %td.table-side.well.well-small
    %ul.no-style
      %li      
        %strong Open: 
        =client.total_open ||= 0 
      %li
        %strong Due:  
        - @totals[client.id].keys.each do |currency|  
          -if @totals[client.id][currency] > 0                        
            = h csymb currency, @totals[client.id][currency], false                        
   
