-title "Clients"
= render :partial => "filter"

%table{:id => "clients", :class => "table-main"}
  %tr
    %th Client Name
    %th Outstanding Invoices
    %th
  =render :partial => "client", :collection => @clients
%p
  = will_paginate @clients
