-title "Clients"

#dashboard-centre-left
  = render :partial => "filter"

=content_for :right do
  -if can? :create, Client
    = link_to "New Client", new_client_path


%table{:id => "clients", :class => "table-main"}
  %thead
    %tr
      %th Client Name
      %th Outstanding Invoices
      %th
  %tbody
    =render :partial => "client", :collection => @clients
%p
  = will_paginate @clients
