-title "Clients"

#dashboard-centre-left
  = render :partial => "filter"

=content_for :right do
  -if can? :create, Client
    = link_to "New Client", new_client_path

= render :partial => "clients"
