-title "Clients"
= render :partial => "filter"

%table{:id => "clients", :class => "table-main"}
  %thead
    %tr
      %th Client Name
      %th Outstanding Invoices
      %th
  %tbody
    =render :partial => "client", :collection => @clients
%p
  = will_paginate @clients
