%h2 Message History
-if @invoice.deliveries.count == 0
  %strong No emails sent
-else

  =form_tag delete_multiple_invoice_deliveries_path(@invoice), :method => :delete, :remote => true do
    -if can? :delete, Delivery
      = submit_tag 'Delete', :name =>'commit', :value => 'Delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'

    #deliveries-main{:class => 'scroll-pane jspScrollable'}
      %table{:class => 'table table-striped'}
        %thead
          %tr
            %th
            %th Date
            %th Sent to
            %th Message
        %tbody
          -for delivery in @invoice.deliveries
            %tr{:id => "delivery-row-" + delivery.id.to_s, :class=>"table-row " + cycle("odd", "even")}                        
              %td= check_box_tag "delivery_ids[]", delivery.id
              %td= h delivery.created_at.strftime('%d/%m/%Y')
              %td todo
              %td= link_to delivery.message_short, delivery_path(:id => delivery.id)
              
