%div.jumbotron
  %strong Online Invoicing Software
  InvoiCere makes billing customers quick and simple. Send invoices and accept online payments.
  Start using InvoiCere. 
  %strong 
    %a No Charge!
.features-main

  .tabbable.tabs-left
    %ul.nav.nav-tabs
      %li
        %a.feature{:href=> '#la', 'data-toggle' => 'tab'} Smart Invoicing  
        .caption                    
          %p 
            Create elegant and 
            %strong professional 
            invoices. Quickly 
          %p 
            %strong Track status of your invoices 
            from draft, open, paid and closed.
          %p 
            Support for 
            %strong tax
            , 
            %strong delivery charges 
            and 
            %strong discounting
            
          %p 
            %strong Multiple currency support
          %p 
            %strong Item Inventory maintenance 
            to help speed up invoice generation
          %p Send professional looking invoices via email, PDF or a direct online link        
      %li        
        %a.feature{:href=> 'lb#', 'data-toggle' => 'tab'} Reporting  
        .caption
          %p Never lose track of your business, see total invoices paid and due across time
  
   
      %li
        %a.feature{:href=> '#lc', 'data-toggle' => 'tab'} Happy Clients 
        .caption 
          %p Client Access and Communication - let your customers view, download or print their invoices. 
          %p Clients can provide comments. 
          %p Accurate data. Client's can also add/amend contact details.
          %p More than just invoicing. Clients can provide feedback on the services you provide, in turn your business gets valuable information.
    
      %li

        %a.feature{:href=> '#lc', 'data-toggle' => 'tab'} Get Paid   
        .caption
          %p PCI compliant processing across secure SSL encryption.
          %ol
            %li Direct debit, direct bank transfer using GoCardless. 
            %li PayPal integration - allow users to pay via PayPal securely. 
            %li Paymill
          %p Kindly remind your clients when an invoice payment is due, emails can be sent out when a payment is due.          

            
      %li
        %a.feature{:href=> '#'} Schedule   
        .caption
          %p Setup reoccurring invoices, they can be sent out to your clients automatically. Never forget sending an invoice again.
      %li
        %a.feature{:href => '#'} Branding and Access
        .caption
          %P Add a subdomain for an easy to remember urls, add a company logo.
          %P Access  Management - Setup users with different levels of access, for e.g. Administrator, Clients etc.
          %p Customise your email messages for sending invoices, payments reminders.
    .tab-content.hero-unit
      %strong Features slideSee more
      %p
        Click on the features on the left...