%ul#contacts.list-group{:id => 'contacts'}
  -for contact in @client.contacts      
    %li.list-group-item{:id => "contact-" + contact.id.to_s}
      %address
    
        %strong=contact.fullname
        = h contact.job_title
        %br        
        -if !contact.phone.blank?
          %strong Phone:
          %abbr{:title=>'phone'}=h contact.phone
          %br
        -if !contact.fax.blank?
          %strong Fax:
          %abbr{:title=>'fax'}=h contact.fax
          %br
        -if !contact.mobile.blank?
          %strong Mobile:
          %abbr{:title=>'mobile'}=h contact.mobile
          %br
        -if !contact.email.blank?
          %strong Email: 
          =mail_to contact.email
          
          
        .btn-group.pull-right
          %button.btn.btn-default.dropdown-toggle{:type=>"button", 'data-toggle'=>"dropdown"}
            Modify Contact
            %span.caret             
          %ul.dropdown-menu{:role=>"menu"}            

            -if can? :delete, contact
              %li= link_to 'Delete'.html_safe, client_contact_path(@client, contact), :confirm => 'Are you sure?', :method => :delete, :remote => true    
     
            - if can?(:update, contact)
              %li=link_to 'Edit', edit_client_contact_path(@client, contact), :remote => true

