%a{:href => "#", :class => 'badge'} company_name    
%a{:href => "#", :class => 'badge'} company_email
%a{:href => "#", :class => 'badge'} company_fax 
%a{:href => "#", :class => 'badge'} company_phone 
%a{:href => "#", :class => 'badge'} company_website 
%a{:href => "#", :class => 'badge'} client_name 
%a{:href => "#", :class => 'badge'} invoice_id 
%a{:href => "#", :class => 'badge'} invoice_link 
%a{:href => "#", :class => 'badge'} invoice_date    
%a{:href => "#", :class => 'badge'} invoice_title 
%a{:href => "#", :class => 'badge'} invoice_due_date 
%a{:href => "#", :class => 'badge'} invoice_total_due
%a{:href => "#", :class => 'badge'} payment_instruction