%li
  %a{:href => "#"} company_name   
%li 
  %a{:href => "#"} company_email
%li
  %a{:href => "#"} company_fax 
%li
  %a{:href => "#"} company_phone 
%li
  %a{:href => "#"} company_website 
%li
  %a{:href => "#"} client_name 
%li
  %a{:href => "#"} invoice_id 
%li
  %a{:href => "#"} invoice_link 
%li
  %a{:href => "#"} invoice_date    
%li
  %a{:href => "#"} invoice_title 
%li
  %a{:href => "#"} invoice_due_date 
%li
  %a{:href => "#"} invoice_total_due