%li
  %a{:href => "#"} company.name   
%li 
  %a{:href => "#"} company.email
%li
  %a{:href => "#"} company.fax 
%li
  %a{:href => "#"} company.phone 
%li
  %a{:href => "#"} company.website 
%li
  %a{:href => "#"} client.name 
%li
  %a{:href => "#"} invoice.id 
%li
  %a{:href => "#"} invoice.link 
%li
  %a{:href => "#"} invoice.date    
%li
  %a{:href => "#"} invoice.title 
%li
  %a{:href => "#"} invoice.due_date 
%li
  %a{:href => "#"} invoice.total_due