#invoice-preview.row.col-md-12
 .row
  #invoice-header-details.col-md-8
   %table.table.table-condensed
    =h render_th("ID", inv.id)
    =h render_th "Your ID", inv.business_id
    =h render_th "Purchase Order", inv.purchase_order_id
    =h render_date_inv(inv)
    =h render_due_inv(inv)
    =h render_th "Currency", inv.currency        
    %tr
     %th Client Info 
     %td
      %h4= link_to inv.client.name, edit_client_path(inv.client)
      =render :partial => "clients/address", :locals => {:client => inv.client}
  #invoice-state.col-md-4
   %span.label.label-primary="Status: #{inv.formatted_state}"
 #invoice-item-list.col-md-12
  %table#invoice-items.table.table-striped.pull-left
   %thead
    %tr
     %th Item
     %th Qty
     %th Unit Price
     %th Unit
     %th Total
     %th Tax
   %tbody
    =render :partial => "invoices/show_elements/show_invoice_item", :collection => inv.invoice_items, :as => :show_invoice_item
 #invoice-summary{:class=>"col-md-offset-6 col-md-6"}
  =render :partial => "invoices/show_elements/show_invoice_summary", :locals => {:invoice => inv}

 #invoice-footer.col-md-12
  %p
   %strong Notes
   =h inv.notes
  -if inv.late_fee
   #invoice-footer-late-fee
    %p
     This invoice is due in
     %strong= pluralize(inv.due_days, 'day')
     -if inv.late_fee > 0
      , the late fee is set to
      %strong= h csymb inv.currency, inv.late_fee_cents, false#number_to_currency inv.late_fee, :unit => '£', :separator => ".", :delimiter => ","
   
  #invoice-time-now
   Printed on  
   =inv.client.company.preference.convert_datetime(Time.now)