- content_for :title, "Invoice - " +  @invoice.title
.col-md-6
  %h1
    INVOICE
    =raw("<small>" + @invoice.title + "</small>")  
  
-if @invoice.state == 'draft'  
  .badge
    %h4= "DRAFT"
#interactive.modal.hide.fade
#invoice-centre-panel.row
  #invoice-main.col-md-10
    = render "invoices/show_elements/show_core", :object =>  @deliveries
  #invoice-side-panel.col-md-2
    = render "invoices/show_elements/toolbar"  

