$("#dashboard-content").prepend('<p class="notice"><%= escape_javascript(flash.delete(:notice)) %> </p>');
$("#dashboard-centre").empty();
$("#dashboard-centre").html("<%= escape_javascript(render("invoices/show_elements/show")) %>");
$("#invoice-side-panel").html("<%= escape_javascript(render("invoices/show_elements/toolbar")) %>");

