$("#dashboard-centre").empty();
$("#dashboard-centre").append('<div id="form-title"><h3>Invoices</h3></div>');
$("#dashboard-centre").append("<%= escape_javascript(render("filter")) %>");
$("#invoice-main").html("<%= escape_javascript(render("payments")) %>").effect("slide");
