$("#dashboard-content").prepend('<p class="notice"><%= escape_javascript(flash.discard(:notice)) %> </p>');
$('#interactive').modal('hide');
$(".notice").fadeOut(3000);
<% if @invoice.state == "paid" %>
	$("#edit_invoice").remove();
	$("#payment_invoice").remove();
	$("#draft_invoice").remove();
 	$("#invoice-side-panel ul").append('<li id = "open_invoice"></li>');
	<% if can? :update, @invoice %>
  		$("#open_invoice").append("<%= escape_javascript(link_to "Revert to Open", invoice_path(:id => @invoice.id, :commit => 'open_again'), :method=> :put, :remote => true%><% )%>");
	<% end %>
<% end %>

 