$("#dashboard-centre").prepend('<p class="notice"><%= escape_javascript(flash.delete(:notice)) %> </p>');
$(".notice").fadeOut(3000);
<%- @items_to_delete.each do | i |  %>
	$("#client-row-" + "<%= escape_javascript(i.id.to_s) %>").animate({
	    opacity: 0.0,
	    left: '+=50',
	    height: 'toggle'
	  }, 1000, function() {
	    // Animation complete.
			$(".removed").slideUp();
	  });
<%- end %>